body {
	background-color: gray;
	background-image: url(https://stmed.net/sites/default/files/food-wallpapers-28249-101905.jpg);
}

#main {
	background-color: white;
	padding: 40px;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 40%;
}

.wid {
	width: 50%;
}
#fn, #ln, #un, #em, #pw, #ph {
	color: red;
	font-family: Raleway;
}